﻿html,body{
  height: 97.5%;
}

.intro-headers{
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}
.container-custom{
    margin-top: 16px;
    margin-bottom: 16px;
   
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer {
    margin-top: 24px;
}
.footer p{
    margin: 20px 0;
}

.panel-title-center{
    text-align: center;
}
.intro-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: inherit;
}
.container-custom{
    margin-top: 16px;
    margin-bottom: 16px;
   
}

.navbar-brand {
  padding:0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0;
  width: auto;
}

.bs-callout{
    padding:20px;
    margin:20px 0;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius:3px
}

.bs-callout-info{
    border-left-color:#1b809e;
}
.bs-callout-info h4{
     color:#1b809e;
}

.bs-callout  h4{
     margin-top:0;
     margin-bottom:5px

}
.bs-callout p:last-child{
    margin-bottom:0
}

.alert{
    margin-bottom: 0 !important;
}

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 40px auto auto auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 10px 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.file-input {
    margin: 5px !important;
}
.imageInput1_view, .imageInput2_view, .imageInput3_view{
    margin: 5px;
}

.imageInput1_view a, .imageInput2_view a, .imageInput3_view a{
    margin: 2px;
    width: 304px;
}

.page-header span, .page-header a{
    font-size: large !important;
}
.page-header a{
    border-bottom: 1px solid #1b809e;
}

.page-header a:hover{
    text-decoration:none;
}

.page-header span:last-child{
    color: #000 !important;
}
h3.page-header{
        margin: 20px auto;
}
.stat_table tr th{
    padding: 3px !important ;
}